# ============================================================
# Python
# ============================================================

__pycache__/
*.py[cod]
*.pyo

.venv/
venv/
env/

# ============================================================
# IDE
# ============================================================

.vscode/
.idea/

# ============================================================
# Build
# ============================================================

build/
dist/
downloads/
releases/

# ============================================================
# PyInstaller
# ============================================================

*.spec.bak

# ============================================================
# Releases
# ============================================================

installer/

# ============================================================
# Dados locais da aplicação
# ============================================================

*.log
history.json
settings.json
# ============================================================
# Configurações locais
# ============================================================

.env

# ============================================================
# Sistema operacional
# ============================================================

Thumbs.db
.DS_Store